*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #121212;
    color: #fff;
    transition: background 0.2s linear;
}

.border{
    border: 1px solid red;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
    transition: all 0.35s;
}

.sidebar > nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.logo-img{
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
    align-items: center;
}

.logo-img:hover{
    transform: scale(1.5);
}

.sidebar button{
    height: 60px;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin: 10px;
}



.sidebar button > span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
}

.main{
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

@MEDIA (width <920px){
    .sidebar{
        width: 72px;
    }
    .sidebar button > span {
     width: 50px;   
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }
    
    .main{
        transition: margin 0.4s;
        margin-left: 78px;
        
    }
}


.button-mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    color: white;
    background-color: transparent;
    border: 0;
}

.menu-mobile{
    display: none;
    

}
.button-mobile span {
    font-size: 24px;
    margin-left: 8px;
}


.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: inherit;
    margin: 16px;
}

.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}

.mobile-text{
    font-size: 22px;
    margin-left: 8px ;
}

@media (max-width: 480px){
    .sidebar{
        display: none;
    }
    .button-mobile{
        display: flex;
    }

    .main{
        margin-left: 6px;
    }
}


body.white{
    background-color: #fff;
    color: black;
}

.checkbox{
    opacity: 0;
    
}
.label {
    background-color:;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.label .balldark {
    background-color: black;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}

.dark-theme{
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}
